swarm-manager-host = "ssh://user@host:22"
registry-password  = ""
app-name           = "qrpay"
app-version        = "1.5.2"
app-host           = "qrpay.evotor.tech"
app-config-b64     = ""
app-dotenv-b64   = ""
